ul {
    background-color: #464646;
}

li {
    font-weight: bold;
    padding: 10px;
    border: 0px solid #5D6063;
    width: 200px;
    color: #DADBDB;
    list-style: none;
    text-align: center;
    display: inline-block;
}


h2 {
    margin-top: 60px;
    margin-bottom: 60px;
}

form {
    text-align: center;
}

input {
    margin-bottom: 20px;
}

footer {
    background-color: #464646;
    font-weight: bold;
    padding: 40px;
    width: 100%;
    list-style: none;
    margin-top: 100px;
}

a {
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

@media screen and (min-width:961px){
    section {
        text-align: center;
    }

    section:nth-child(4){
        display: flex;
    }

    article {
        background-color: #DADBDB;
        height: 20rem;
        padding: 10px;
        margin-bottom: 30px;
        width: 15rem;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel {
        background-color: #DADBDB;
        height: 250px;
        margin-top: -20px;
    }


}
